:root {
--header-color: rgb(169, 231, 233);
--main-background: rgba(16, 16, 16, 0.513);
--card-background: linear-gradient(to top, purple, rgb(173, 137, 137));
--card-text-color: white;
}

html {
    background: var(--main-background)
}
header {
    margin: 25px;
    padding: 10px;
    text-align: center;
    
}
header h1 {
    font-size: 4rem;
    flex-wrap: wrap;
    color: var(--header-color);
    
}
header p {
    margin-top: 10px;
    padding: 5px;
    color: white;
    font-size: 1rem;
}

main {
    display: flex;
    flex-wrap: wrap;
}

.card {
    justify-content: space-evenly;
    flex: 1 0 25%;
    padding: 5px;
    margin: 10px;
    border-style: dashed;
    border-color: white;
    background: var(--card-background);
}

.card h2 {
    color: var(--header-color);
    font-size: 2rem;
    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
    border-color: white;
    padding: 5px;
}

.card p {
    margin-top: 15px;
    margin-bottom: 15px;
    color: var(--card-text-color);
    font-size: 16px;
}


@media screen and (max-width: 992px) {
.card {
    flex-basis: 33%;
}
}

@media screen and (max-width:768px) {
main {
    flex-direction: column;
}
}