:root {
--header-color: purple;
--main-background: rgba(16, 16, 16, 0.513);
--card-background: linear-gradient(to top, purple, rgb(173, 137, 137));
}

html {
    background: var(--main-background)
}
header {
    
    text-align: center;
    
}
header h1 {
    font-size: 4rem;
    flex-wrap: wrap;
    color: var(--header-color);
    
}
header p {
    
}

main {
    display: flex;
    flex-wrap: wrap;
}

.card {
    justify-content: space-evenly;
    flex: 1 0 400px;
    padding: 5px;
    margin: 10px;
    border-style: dashed;
    border-color: white;
    background: var(--card-background);
}

.card h2 {
    color: var(--header-color);
    font-size: 2rem;
    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
    border-color: white;
    padding: 5px;
}

.card p {
    margin-top: 15px;
    margin-bottom: 15px;
    color: var(--card-text-color);
    font-size: 16px;
}